.date-seat-container {
}
.seat {
  border-radius: 5px;
  border-width: 0;
  border-color: transparent;
  color: white;
  background: #28b0dc;
  padding: 4px;
  cursor: pointer;
}

.date-container {
  font-size: 12px;
  color: #28b0dc;
}
